.projectswork{
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.021);
    padding: 3rem;
    text-align: center;
}

.headingWork{
    font-size: 4rem;
    text-align: center;
    padding-top: 3rem;
}

.animate1{
    
   height: 100%;
}

.animate1:hover{
    scale: 1.1;
    transition: .5s;
    
   
}

.animate2{
   
    height: 100%;
}

.animate2:hover{
    scale: 1.1;
    transition: .5s;
    
}

@media (max-width:500px){
    .workProjects{
        max-width: 100%;

    }

    #work{
        margin-top: 1rem;
    }
    .headingWork{
        font-size: 3rem;
    }

}