
*{
  padding: 0px;
  margin: 0px;
  box-sizing:border-box;
}

body{
  padding-left: 10rem;
  padding-right: 10rem;
  
}

html{
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
  font-family: var(--font-inter);
}

a:hover{
  transition: .3s;
  color: rgb(245, 6, 125) !important;
}

.fixedNav{
  
  
  
}

#NavigationContainer {
  max-width: 120rem; /*  desired max-width */
  margin: auto; /* Center horizontally */
  
  
}

#Navigation{
  
  
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  height: 8.1rem;
  
 
}

.navbar1{
  display: flex;
  gap:4.7rem;
  font-size: 1.8rem;
  font-weight: 500;
  
}


.navbar2{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:2.6rem;
  font-size: 1.8rem;
  font-weight: 600;
}
.button{
  margin-left: 2.6rem;
  width:10.7rem;
  height: 4.4rem;
  border-radius: 2.4rem;
  border: 2px solid black;
  background-color: transparent;
  transition: .4s;
  &:hover{
    background-color: black;
    color: white;
    cursor: pointer;
  }
}


#Main{
  max-width: 120rem;
  margin: auto;
  
}

#Main >main{
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 3rem;
  
}

.dropdown{
  display: none;
  
}

#dropdiv{
  
}

#dropbox{
 
  
  
  position: fixed;
  left: 0;
  top:0rem;
  width: 100vw;
  /* padding: 3rem; */
  height: 100vh;
  z-index: 1000;
  background-color: white;
}







.mainHeading{
  margin-top: 9.4rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.heading{
  font-size: 6.8rem;
  font-weight: 500 ;
  color: #121F3E;
  word-spacing:0rem;
}

.heading span{
  display: inline-block;
}

.position{
  display: block;
}

.work{
  display: flex;
  gap:2rem;
  font-size: 2.6rem;
  font-weight: 500;
  color:#121F3E;
}

.headline{
  font-size: 2rem;
  font-weight: 500;
  color: #888C8C;
}

.headlinePara{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 20rem;
}

.emailButton{
  background-color: #0B0F13;
  color: #b2b6b6;
  padding: 2rem 3rem;
  border: 2px solid white;
  border-radius: 3.4rem;
  font-size: 1.5rem;
  font-weight: 500;
  transition: .3s;
  &:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    border:2px solid black
  }
}


#work{
  margin-top: 7rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}


#work h2{
  display: none;
}



.workProjects{
  width:45.8rem;
  height:27.1rem;
  overflow: hidden;
  
  
  
  object-fit: cover;
  &:hover{
    border-top-left-radius:4rem ;
    border-bottom-right-radius: 4rem;
    transition: .2s;
  }
}


.projectImage{
  width: 100%;
  height: 100%;
  
}


#skills{
margin-top:9rem

}


.skills{
  font-size: 4.8rem;
  font-weight: 400 ;
  color: #121F3E;
  word-spacing:0rem;
}
.descriptions{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.skilldescription{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem
}


.skilldescription>div> p{
  font-size: 2rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 2px;
  text-align: justify;
}

.logos{
  padding: 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:10rem;
  width: 50%;
}



#about{
  margin-top:9rem
}

.about{
  font-size: 4.8rem;
  font-weight: 400 ;
  color: #121F3E;
  word-spacing:0rem;
 
}

.aboutdec{
  display: flex;
  flex-direction: row-reverse;
  gap:20rem;
  align-content: center;
  align-items: center;
  padding: 8rem;
}
.aboutDescription{
  font-size: 2rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  width:50%;
  letter-spacing: 2px;
  text-align: justify;
}
.aboutDescription> a{
  color: rgba(0, 0, 0, 0.8);
  transition: .3s;
  &:hover{
    color: rgb(245, 6, 125);
  }
}

.mydp{
  width: 30rem;
  height: 40rem;
  
  
}
.mydp> img{
  width: 100%;
  height: 100%;
  object-fit: cover
}

.contactDescription{
  font-size: 4.8rem;
  font-weight: 500 ;
  color: #121F3E;
  word-spacing:0rem;
}

.contact{
  display: flex;
  gap:2rem;
  font-size: 2.6rem;
  font-weight: 500;
  color:#121F3E;
  padding-bottom: 8rem;
}

.contactdec{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.contactBox{
  display: flex;
  flex-direction: column;
  gap: 4rem;
  text-align: right;
  padding: 3rem;
}
.contactBox >a{
  font-size: 2.6rem;
  font-weight: 400;
  font-style: italic;
  font-family: var(--font-Libre);
  color:#121F3E ;
  transition: .3s;
  &:hover{
    color: rgb(245, 6, 125);
  }
}

#heroProject{
  max-width: 120rem;
  
  margin: auto;
}

#heroProject >main{
  display: flex;
  flex-direction: column;
  gap:5rem;
}

.projectTitle{
  font-size: 6.8rem;
  font-weight: 500 ;
  color: #121F3E;
  word-spacing:0rem;
}
.projectHeading{
  margin-top: 5rem;
}

.heroImageDiv{
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  overflow: hidden;
  width:100rem;
}
.heroImageDiv2{
  border-radius: 4rem;
  overflow: hidden;
  width:120rem
}


.heroImage{
  width:100%;
  height: 100%;
}

.descriptionSection{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.description{
  font-family: 'Oswald', sans-serif;

  font-size: 2.4rem;
  font-weight: 400;
  color: black;
  word-break: break-all;
}

.preview{
  font-family: 'Rokkitt', serif;
  font-size: 2rem;
  font-weight: 200;
  color: black;
  word-break: break-all;
}

footer{
  margin-top: 3rem;
  max-width: 120rem;
  
}

.footer{
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  align-items: center;
}


.footerContent{
  font-size: 4.8rem;
  font-weight: 500 ;
  color: #121F3E;
  word-spacing:0rem;
}

.footerEmail{
  font-size: 2.6rem;
  font-weight: 400;
  font-style: italic;
  font-family: var(--font-Libre);
  color:#121F3E ;
  text-align: end;
}

.link{
  text-decoration: none;
  color:black
}

.active{
  border-top: 2px solid black;
}

.modal{
  position: fixed;
  display: flex;
  flex-direction: column;
  gap:3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width:70rem;
  /* aspect-ratio: 1/1; */
  border: 1px solid black;
  border-radius: 2rem;
  padding: 5rem;
  background-color: white;
}

.talkHeading{
  font-size: 6.8rem;
  font-weight: 500 ;
  color: #121F3E;
  word-spacing:0rem;
}

@media only screen and (max-width:500px){

  body{
    padding: 2.5rem;
  }
 #Main >main{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:auto ;
  
  /* height:40rem; */
 }
 .mainHeading{
  margin-top: 3.4rem !important;
 }
 .heading{
  max-width: 27.4rem;
  display: flex;
  flex-direction: column;
  font-size: 4rem !important;
 }
 .work{
  display: none !important;
 }

 #work h2{
  display: block !important;
  font-size: 3rem;
  font-weight: 400 ;
  color: #121F3E;
  padding-bottom: 4rem;
}

.workProjects{
  width: 100% !important;
}

 .headlinePara{
  margin-top: 3rem !important;
 }

 .navbar2{
  display: none;
 }

 .dropdown{
    display: inline-block;
    
 }
 #dropbox{
  
  /* display: none; */
  display: grid;
  grid-template-rows:  1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items:center;
  justify-items: center;
  justify-content: center;
  row-gap: 4px ;
  height: 0px;

  overflow: hidden;
  transition: .5s;
 }

 #dropdiv{
  /* display: none; */
 
    
 }

 

 #dropbox a{
  
  
  font-size: 3rem;
  
  
 }
 

 .contactdec{
  justify-content: flex-start;
 }

 .contactDescription{
  font-size: 3rem;
 }
 .contactBox{
  
  text-align: left !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
 }
 .contactBox >a{
  font-size: 2rem !important;
 }

 .skills{
  font-size: 3rem;
 }
 .skilldescription>div> p {
  font-size: 1.5rem !important;
 }

  .descriptions{
    flex-direction: column;
  }



  .logos{
    padding: 4rem 8rem 4rem 8rem;
    width: 100%;
    gap: 2rem
  }
 .logos >img{
  width: 50px !important;
  height: 50px !important;
 }


 .skilldescription {
  width: 95%;
 }

 .about{
  font-size: 3rem;
 }

 .aboutdec{
  flex-direction:column-reverse;
  gap:3rem;
  padding: 4rem 0 3rem 0;
 }

 .aboutDescription{
  font-size: 1.5rem;
  width: 95%;
 }
 .mydp{
  width: 20rem;
  height: 25rem;
 }

 .workProjects >a{
  display: inline-block;
  width:100%
}
.workProjects{
  height: 100%;
}

#work{
  margin-top: 7rem;
}
#work h2{
  padding-bottom: 0rem;
}
}